<table class="table table-striped">

    <thead>
        <tr>
            <th> ID </th>
            <th> Policy ID </th>
            <th> Name </th>
            <th> Verdict </th>
            <th> Data </th>
            <th> Comment </th>
            <th> Disabled </th>
        </tr>
    </thead>

    <tr *ngFor="let acl of accessControls" >
     <td >{{acl.id}}         </td>
     <td >{{acl.policyID}}   </td>
     <td >{{acl.name}}       </td>
     <td >{{acl.verdict}}    </td>
     <td >{{acl.data}}       </td>
     <td >{{acl.comment}}    </td>
     <td >{{acl.disabled}}   </td>
     <td >
        <button md-icon-button>
             <md-icon class="md-18">edit</md-icon>
        </button>
     </td>
     <td >
        <button md-icon-button>
             <md-icon class="md-18">delete_forever</md-icon>
        </button>
     </td>
    </tr>
</table>