<div class="container-fluid">
<div class="table-responsive">
<table class="table table-striped table-hover table-condensed">

    <thead>
        <tr>
            <th> ID </th>
            <th> Policy ID </th>
            <th> Name </th>
            <th> Verdict </th>
            <th> Data </th>
            <th> Comment </th>
            <th> Disabled </th>
        </tr>
    </thead>

   <tbody>
    <tr>
        <td > 
            <md-input-container> 
                <input type="number" readonly md-input> 
            </md-input-container>
        </td>
        
        <td >

           <select  class="form-control" [(ngModel)]="newAccessControls.policyID" >
               <option *ngFor="let policy of policies" [ngValue]="policy.id">
                   {{policy.name}}
               </option>
           </select>

        </td>
    
        <td >
            <md-input-container>
                <input md-input [(ngModel)]="newAccessControls.name" [ngModelOptions]="{standalone: true}" >
            </md-input-container>
        </td>
        
        <td >

            <select  class="form-control" [(ngModel)]="newAccessControls.verdict" >
               <option *ngFor="let verdict of verdicts" [ngValue]="verdict">
                   {{verdict}}
               </option>
           </select>

        
        </td>
        
        <td >
            <md-input-container>
                <input md-input [(ngModel)]="newAccessControls.data" [ngModelOptions]="{standalone: true}">
            </md-input-container>
        </td>

        <td >
            <md-input-container>
                <input md-input [(ngModel)]="newAccessControls.comment" [ngModelOptions]="{standalone: true}">
            </md-input-container>
        </td>

        <td >
            <md-input-container>
                <input type="number" min="0" max="1" size='1' maxlength="1" md-input [(ngModel)]="newAccessControls.disabled" value="{{newAccessControls.disabled}}" [ngModelOptions]="{standalone: true}">
                <md-hint align="end"><span>0 ou 1</span></md-hint>
            </md-input-container>
        </td>

        <td >
            <button md-icon-button (click)="addAccessControls()" >
                <md-icon class="md-18">save</md-icon>
            </button>
        </td>

        <td >
            <button md-icon-button (click)="clearAccessControl()">
                <md-icon class="md-18">delete_forever</md-icon>
            </button>
        </td>

    </tr>

<br/>

    <tr *ngFor="let accessControl of accessControls" >
     <td >{{accessControl.id}}         </td>
     <td >{{accessControl.policyID}}   </td>
     <td >{{accessControl.name}}       </td>
     <td >{{accessControl.verdict}}    </td>
     <td >{{accessControl.data}}       </td>
     <td >{{accessControl.comment}}    </td>
     <td >{{accessControl.disabled}}   </td>
     <td >
        <button md-icon-button>
             <md-icon class="md-18">edit</md-icon>
        </button>
     </td>
     <td >
        <button md-icon-button (click)="deleteAccessControl(accessControl)">
             <md-icon class="md-18">delete_forever</md-icon>
        </button>
     </td>
    </tr>
   </tbody>
</table>
</div>
</div>