<div class="container-fluid">
  <md-tab-group>
    
    <md-tab>
      <template md-tab-label>
          <md-icon>home</md-icon>
      </template>

      <policies-main></policies-main>

    </md-tab>

    <md-tab>
      <template md-tab-label>
          Policies
      </template>
      

      <policies-component></policies-component>

    </md-tab>

    <md-tab>
      <template md-tab-label>
          Policy Groups   
      </template>

      <policyGroups-component></policyGroups-component>

    </md-tab>

    <md-tab>
      <template md-tab-label>
          Quotas
      </template>

      <quotas-component></quotas-component>

    </md-tab>

    <md-tab>
      <template md-tab-label>
          Access Control   
      </template>
            
      <accessControl-component></accessControl-component>
      
    </md-tab>

  </md-tab-group>
</div>