 <md-tab-group>

    <md-tab>
      <template md-tab-label>
          Wiki - Em construção
      </template>
        <img src="app/view/diagrama/CBpolicyDACL.png" style="height:900px">
    </md-tab>

    <md-tab>
      <template md-tab-label>
          Zimbra
      </template>
      
<h1 id="zimbra-cbpolicyd">Zimbra CBPolicyd</h1>
<h2 id="quotas-cbpolicyd-ordem-de-configura-o">Quotas CBPolicyd - Ordem de configuração</h2>
<p>Primeiramente, são necessários dois passos:</p>
<pre><code>1. Cria a politica na tabela *policies*
2. Configure os membros da diretiva recém-criada na tabela policy_members

a) Se não usarmos os *grupos*, então após configurar a politica e os membros de politica, nós editamos a tabela *quota* e *quota_limits*
b) Se você configurar os *grupos*, então após configurar as politicas, nós configuramos os *grupos* e então as *quotas*
</code></pre><p>Tipos de dados:</p>
<pre><code class="lang-typescript">yes:Boolean = 1;
no:Boolean = 0;
</code></pre>
<ul>
<li>Criando uma politica</li>
</ul>
<blockquote>
<p>Prioridade 0, significa que será escolhido primeiro a partir da lista das políticas.</p>
</blockquote>
<pre><code class="lang-sql">insert into policies(Name,Priority,Disabled) VALUES (&#39;test_policy&#39;,0,0);
</code></pre>
<ul>
<li>Criando os membros da politica</li>
</ul>
<blockquote>
<p>A coluna <em>PolicyID</em> da tabela <em>policy_members</em> aponta para o ID da tabela <em>policies</em></p>
</blockquote>
<p>Com <em>grupo</em></p>
<blockquote>
<p>A coluna <em>Source</em> não aceita dois grupos, ou seja, crie um novo registro para cada grupo</p>
</blockquote>
<pre><code class="lang-sql">insert into policy_members(PolicyID,Source,Destination,Disabled) VALUES (1,&#39;%test_group&#39;,&#39;any&#39;,0);
</code></pre>
<p>Sem <em>grupo</em></p>
<pre><code class="lang-sql">insert into policy_members(PolicyID,Source,Destination,Disabled) VALUES (1,&#39;user@mydomain.com&#39;,&#39;any&#39;,0);
</code></pre>
<p>Valores aceitos na coluna <em>Source</em> e <em>Destination</em></p>
<pre><code class="lang-text">Format of key:
NULL = any
a.b.c.d/e = IP address with optional /e
@domain = domain specification,
%xyz = xyz group,
abc@domain = abc user specification

all options support negation using !&lt;key&gt;
</code></pre>
<ul>
<li><p>Adicionando o grupo</p>
</li>
<li><p>Grupo <em>test_group</em></p>
</li>
</ul>
<pre><code class="lang-sql">insert into policy_groups(Name,Disabled) VALUES (&#39;test_group&#39;,0);
</code></pre>
<ol>
<li>Cria os membros para o grupo <em>test_grupos</em></li>
</ol>
<blockquote>
<p>Formato de entrada da coluna <em>Member</em>: a.b.c.d/e = ip,  @domain = domain, %xyz = xyz group, abc@domain = abc user</p>
</blockquote>
<pre><code class="lang-sql">insert into policy_group_members(PolicyGroupID,Member,Disabled) VALUES (1,&#39;testuser@mydomain&#39;,0);
insert into policy_group_members(PolicyGroupID,Member,Disabled) VALUES (1,&#39;192.168.56.10/24&#39;,0);
</code></pre>
<p>&quot;O exemplo acima mostra que todas as cotas, apontando para a política ID 1, estarão forçando suas regras em testuser@mydomain, máquina com ip 192.168.56.10 e user@mydomain.com, especificada como ID 2 na tabela policy_members. Além disso, como no exemplo anterior, o PolicyGroupID está apontando para um ID de entrada de policy_groups específico. No nosso caso está apontando para ID 1.&quot;</p>
<p>Fonte: wiki.zimbra.com</p>
<ul>
<li>Configurando a <em>quota</em></li>
</ul>
<p>Formato de entrada para a coluna <em>Track</em></p>
<pre><code class="lang-text">SenderIP: /24
Sender &amp; Recipient: ou user@domain ou user@ ou @domain
</code></pre>
<ol>
<li>Cria a <em>quota</em></li>
</ol>
<pre><code class="lang-sql">insert into quotas(PolicyID,Name,Track,Period,Verdict,Data,Disabled) VALUES (1,&#39;test_quota&#39;,&#39;Sender:user@domain&#39;,120,&#39;DEFER&#39;,&#39;User has been deferred for two minutes&#39;,0);
</code></pre>
<ol>
<li>Cria a restrição</li>
</ol>
<pre><code class="lang-sql">insert into quotas_limits(QuotasID,Type,CounterLimit,Disabled) VALUES (1,&#39;MessageCount&#39;,2,0);
</code></pre>
<p>Tipo de restrição</p>
<pre><code>1. MessageCount
2. MessageCumulativeSize
</code></pre><p>&quot;Os comandos acima estão impondo uma quota que está restringindo todos os usuários em% test_group e user@mydomain.com para não enviar mais de duas mensagens em um intervalo de tempo de dois minutos. Observe que a cota está apontando para uma diretiva específica. Temos apenas uma política, portanto, ela aponta para a diretiva ID 1. A tabela quota_limits tem uma entrada que está apontando para a cota da tabela de cota. Em vez de &quot;Sender&quot;, podemos especificar &quot;Destinatário&quot;, que irá limitar os e-mails recebidos pelo usuário / grupo.&quot;</p>
<p>Fonte: wiki.zimbra.com</p>
<h3 id="exemplo">Exemplo</h3>
<ul>
<li><p>Rate limit any sender from sending more then 20 emails every 60 seconds.  Messages beyond this limit are deferred.</p>
</li>
<li><p>Rate limit any @domain from receiving more then 50 emails in a 60 second period.  Messages beyond this rate are rejected.</p>
</li>
</ul>
<p>sqlite3 /opt/zimbra/data/cbpolicyd/db/cbpolicyd.sqlitedb  &lt;access_control.sql</p>
<pre><code class="lang-sql">BEGIN TRANSACTION;
INSERT INTO &quot;policies&quot; VALUES(6, &#39;Zimbra&#39;, 0, &#39;Zimbra QA Test Policy&#39;, 0);
DELETE FROM sqlite_sequence;
INSERT INTO &quot;sqlite_sequence&quot; VALUES(&#39;policies&#39;, 6);
INSERT INTO &quot;sqlite_sequence&quot; VALUES(&#39;policy_members&#39;, 6);
INSERT INTO &quot;sqlite_sequence&quot; VALUES(&#39;policy_groups&#39;, 2);
INSERT INTO &quot;sqlite_sequence&quot; VALUES(&#39;policy_group_members&#39;, 3);
INSERT INTO &quot;sqlite_sequence&quot; VALUES(&#39;quotas&#39;, 4);
INSERT INTO &quot;sqlite_sequence&quot; VALUES(&#39;quotas_limits&#39;, 5);
INSERT INTO &quot;sqlite_sequence&quot; VALUES(&#39;checkhelo_blacklist&#39;, 4);
INSERT INTO &quot;policy_members&quot; VALUES(6, 6, &#39;any&#39;, &#39;any&#39;, , 0);
INSERT INTO &quot;quotas&quot; VALUES(3, 6, &#39;Sender:user@domain&#39;,&#39;Sender:user@domain&#39;, 60, &#39;DEFER&#39;, &#39;Deferring: Too many messages from sender in last 60&#39;, , 0);
INSERT INTO &quot;quotas&quot; VALUES(4, 6, &#39;Recipient:@domain&#39;, &#39;Recipient:@domain&#39;, 60, &#39;REJECT&#39;, , , 0);
INSERT INTO &quot;quotas_limits&quot; VALUES(4, 3, &#39;MessageCount&#39;, 20, , 0);
INSERT INTO &quot;quotas_limits&quot; VALUES(5, 4, &#39;MessageCount&#39;, 50, , 0);
COMMIT;
</code></pre>
<h2 id="access-control-cbpolicyd-ordem-de-configura-o">Access Control CBPolicyd - Ordem de configuração</h2>
<p>Na teoria a configuração para restringir o envio local de email para uma lista de contas estar descrita logo abaixo, contudo não funcionou no nosso servidor de email.</p>
<h2 id="m-dulo-access_control">Módulo access_control</h2>
<pre><code class="lang-text">zmlocalconfig -e cbpolicyd_module_accesscontrol=1
zmlocalconfig -e postfix_enable_smtpd_policyd=yes
zmlocalconfig -e cbpolicyd_log_level=4
zmlocalconfig -e cbpolicyd_module_accesscontrol=1 cbpolicyd_module_quotas=1
</code></pre>
<ul>
<li>Zimbra 8.0.x</li>
</ul>
<pre><code class="lang-text">su – zimbra
zmprov ms `zmhostname` +zimbraServiceInstalled cbpolicyd +zimbraServiceEnabled cbpolicyd
zmlocalconfig -e postfix_enable_smtpd_policyd=yes
zmprov mcf +zimbraMtaRestriction “check_policy_service inet:127.0.0.1:10031”
</code></pre>
<ul>
<li>Zimbra 8.5.x</li>
</ul>
<pre><code class="lang-text">su - zimbra
zmprov ms `zmhostname` zimbraCBPolicydAccessControlEnabled TRUE
</code></pre>
<pre><code class="lang-text">zmmtactl stop
zmmtactl start
zmcbpolicydctl restart
</code></pre>
<h3 id="cbpolicyd-configura-o">CBPolicyd - Configuração</h3>
<p>sqlite3 /opt/zimbra/data/cbpolicyd/db/cbpolicyd.sqlitedb  &lt;access_control.sql</p>
<ul>
<li>_access<em>control.sql</em></li>
</ul>
<pre><code class="lang-sql">BEGIN TRANSACTION;
INSERT INTO &quot;policies&quot; (ID,Name,Priority,Description) VALUES (6, &#39;homologa&#39;, 0, &#39;Teste: Somente envio local&#39;);
INSERT INTO &quot;policy_members&quot; (PolicyID,Source,Destination) VALUES(6, &#39;%local_user&#39;, &#39;!%local_domain&#39;);
INSERT INTO &quot;policy_groups&quot;  (ID,Name,Disabled,Comment)  VALUES (3, &#39;local_user&#39;, 0, &#39;Lista de contas&#39;);
INSERT INTO &quot;policy_groups&quot;  (ID,Name,Disabled,Comment)  VALUES (4, &#39;local_domain&#39;, 0, &#39;Teste: Lista de domínio&#39;);
INSERT INTO &quot;policy_group_members&quot; (ID, PolicyGroupID, Member, Disabled, Comment) VALUES (4, 3, &#39;f13@labz.localhost.local&#39;,0,&#39;Somente envio local&#39;);
INSERT INTO &quot;policy_group_members&quot; (ID, PolicyGroupID, Member, Disabled, Comment) VALUES (5, 4, &#39;@labz.localhost.local&#39;, 0, &#39;Somente envio local&#39;);
INSERT INTO &quot;access_control&quot; (ID, PolicyID, Name, Verdict, Data, Comment, Disabled)  VALUES (1,6,&#39;homologa_acl&#39;, &#39;REJECT&#39;, &#39;Access Denied&#39;, &#39;Somente envio local&#39;, 0);
COMMIT;
</code></pre>
<h2 id="laborat-rio-limite-de-envio-para-o-usuario-foo-bar">Laboratório: Limite de envio para o usuario foo@bar</h2>
<ol>
<li>Crie o grupo que receberá a diretiva</li>
</ol>
<pre><code class="lang-sql">INSERT INTO policy_groups(Name,Disabled) VALUES (&#39;limitToSender&#39;,0);
</code></pre>
<ol>
<li>Configure o usuário <em>foo@bar</em> como membro do grupo <em><em>limitToSender</em></em></li>
</ol>
<pre><code class="lang-sql">INSERT INTO policy_group_members(PolicyGroupID,Member,Disabled) VALUES (6,&#39;foo@bar&#39;,0);
</code></pre>
<ol>
<li>Crie a política <em>&quot;Limit Sender&quot;</em></li>
</ol>
<pre><code class="lang-sql">INSERT INTO policies(Name,Priority,Disabled) VALUES (&#39;Limit Sender&#39;,0,0);
</code></pre>
<ol>
<li>Configure o grupo <em><em>limitToSender</em></em> como membro da política <em><em>Limit Sender</em></em></li>
</ol>
<pre><code class="lang-sql">INSERT INTO policy_members(PolicyID,Source,Destination,Disabled) VALUES (6,&#39;%limitToSender&#39;,&#39;any&#39;,0);
</code></pre>
<ol>
<li>Crie a cota para a política <em><em>Limit Sender</em></em></li>
</ol>
<p>A configuração abaixo adiará por 5 minutos o envio da mensagem que excedeu o limite da cota.</p>
<pre><code class="lang-sql">INSERT INTO quotas(PolicyID,Name,Track,Period,Verdict,Data,Disabled) VALUES (6,&#39;Limit Sender Quota&#39;,&#39;Sender:user@domain&#39;,300,&#39;DEFER&#39;,&#39;User has been deferred for five minutes&#39;,0);
</code></pre>
<ol>
<li>Configure o tipo de restrição para a cota <em><em>Limit Sender</em></em></li>
</ol>
<p>Limita o envio de 10 mensagens por 5 minutos.</p>
<pre><code class="lang-sql">INSERT INTO quotas_limits(QuotasID,Type,CounterLimit,Disabled) VALUES (6,&#39;MessageCount&#39;,10,0);
</code></pre>
<ol>
<li>Script SQL</li>
</ol>
<pre><code class="lang-sql">BEGIN TRANSACTION
INSERT INTO policy_groups(Name,Disabled) VALUES (&#39;limitToSender&#39;,0);
INSERT INTO policy_group_members(PolicyGroupID,Member,Disabled) VALUES (3,&#39;foo@bar&#39;,0);
INSERT INTO policies(Name,Priority,Disabled) VALUES (&#39;Limit Sender&#39;,0,0);
INSERT INTO policy_members(PolicyID,Source,Destination,Disabled) VALUES (6,&#39;%limitToSender&#39;,&#39;any&#39;,0);
INSERT INTO quotas(PolicyID,Name,Track,Period,Verdict,Data,Disabled) VALUES (6,&#39;Limit Sender Quota&#39;,&#39;Sender:user@domain&#39;,300,&#39;DEFER&#39;,&#39;User has been deferred for five minutes&#39;,0);
INSERT INTO quotas_limits(QuotasID,Type,CounterLimit,Disabled) VALUES (3,&#39;MessageCount&#39;,10,0);
COMMIT;
</code></pre>
<h2 id="laborat-rio-limitar-o-recebimento-de-email-externo-para-a-conta-foo-bar">Laboratório: Limitar o recebimento de email externo para a conta foo@bar</h2>
<ol>
<li>Crie uma coleção para os usuários locais</li>
</ol>
<pre><code class="lang-sql">INSERT INTO policy_groups(Name,Disabled) VALUES (&#39;limitToUserRecipient&#39;,0);
</code></pre>
<ol>
<li>Crie uma coleção para os domínios locais</li>
</ol>
<pre><code class="lang-sql">INSERT INTO policy_groups(Name,Disabled) VALUES (&#39;limitToLocalDomainRecipient&#39;,0);
</code></pre>
<ol>
<li>Configure o usuário <em>foo@bar</em> como membro do grupo <em><em>limitToUserRecipient</em></em></li>
</ol>
<pre><code class="lang-sql">INSERT INTO policy_group_members(PolicyGroupID,Member,Disabled) VALUES (7,&#39;foo@bar&#39;,0);
</code></pre>
<ol>
<li>Configure o domínio <em>@bar</em> como membro do grupo <em><em>limitToLocalDomainRecipient</em></em></li>
</ol>
<pre><code class="lang-sql">INSERT INTO policy_group_members(PolicyGroupID,Member,Disabled) VALUES (7,&#39;@bar&#39;,0);
</code></pre>
<ol>
<li>Crie a política <em>&quot;Limit Recipient&quot;</em></li>
</ol>
<pre><code class="lang-sql">INSERT INTO policies(Name,Priority,Disabled) VALUES (&#39;Limit Recipient&#39;,0,0);
</code></pre>
<ol>
<li>Configure os grupos <em><em>limitToUserRecipient</em></em> e <em><em>limitToLocalDomainRecipient</em></em> como membro da política <em><em>Limit Recipient</em></em></li>
</ol>
<pre><code class="lang-sql">INSERT INTO policy_members(PolicyID,Source,Destination,Disabled) VALUES (7,&#39;%limitToRecipient&#39;,&#39;!%limitToLocalDomainRecipient&#39;,0);
</code></pre>
<blockquote>
<p>Nota: O simbolo exclamativo possui o mesmo valor lógico da negação, pois, estamos negando a política para a coleção %limitToLocalDomainRecipient.</p>
</blockquote>
<ol>
<li>Crie a cota para a política <em><em>Limit Recipient</em></em></li>
</ol>
<p>A configuração abaixo adiará por 5 minutos o recebimento da mensagem que excedeu o limite da cota.</p>
<pre><code class="lang-sql">INSERT INTO quotas(PolicyID,Name,Track,Period,Verdict,Data,Disabled) VALUES (7,&#39;Limit Recipient Quota&#39;,&#39;Recipient:user@domain&#39;,300,&#39;DEFER&#39;,&#39;User has been deferred for five minutes&#39;,0);
</code></pre>
<ol>
<li>Configure o tipo de restrição para a cota <em><em>Limit Recipient</em></em></li>
</ol>
<p>Limita o envio de 10 mensagens por 5 minutos.</p>
<pre><code class="lang-sql">INSERT INTO quotas_limits(QuotasID,Type,CounterLimit,Disabled) VALUES (7,&#39;MessageCount&#39;,10,0);
</code></pre>
<ol>
<li>Script SQL</li>
</ol>
<pre><code class="lang-sql">BEGIN TRANSACTION
INSERT INTO policy_groups(Name,Disabled) VALUES (&#39;limitToUserRecipient&#39;,0);
INSERT INTO policy_groups(Name,Disabled) VALUES (&#39;limitToLocalDomainRecipient&#39;,0);
INSERT INTO policy_group_members(PolicyGroupID,Member,Disabled) VALUES (4,&#39;f13@labz.localhost.local&#39;,0);
INSERT INTO policy_group_members(PolicyGroupID,Member,Disabled) VALUES (5,&#39;@labz.localhost.local&#39;,0);
INSERT INTO policies(Name,Priority,Disabled) VALUES (&#39;Limit Recipient&#39;,0,0);
INSERT INTO policy_members(PolicyID,Source,Destination,Disabled) VALUES (7,&#39;%limitToRecipient&#39;,&#39;!%limitToLocalDomainRecipient&#39;,0);
INSERT INTO quotas(PolicyID,Name,Track,Period,Verdict,Data,Disabled) VALUES (7,&#39;Limit Recipient Quota&#39;,&#39;Recipient:user@domain&#39;,300,&#39;DEFER&#39;,&#39;User has been deferred for five minutes&#39;,0);
INSERT INTO quotas_limits(QuotasID,Type,CounterLimit,Disabled) VALUES (4,&#39;MessageCount&#39;,10,0);
COMMIT;
</code></pre>
<h2 id="laborat-rio-rejeitar-o-envio-de-email-da-conta-_foo-bar_-para-qualquer-dom-nio-externo">Laboratório: Rejeitar o envio de email da conta <em><em>foo@bar</em></em> para qualquer domínio externo</h2>
<ol>
<li>Crie a política <em>&quot;Somente envio local&quot;</em></li>
</ol>
<pre><code class="lang-sql">INSERT INTO policies(Name,Priority,Disabled) VALUES (&#39;Somente envio local&#39;,0,0);
</code></pre>
<ol>
<li>Configure os grupos <em><em>senderLocalOnlyUser</em></em> e <em><em>limitToLocalDomainRecipient</em></em> como membros da política <em>&quot;Somente envio local&quot;</em></li>
</ol>
<pre><code class="lang-sql">INSERT INTO &quot;policy_members&quot; (PolicyID,Source,Destination) VALUES(8, &#39;%senderLocalOnlyUser&#39;, &#39;!%limitToLocalDomainRecipient&#39;);
</code></pre>
<ol>
<li>Crie uma coleção de usuários para receber a diretiva</li>
</ol>
<pre><code class="lang-sql">INSERT INTO policy_groups(Name,Disabled) VALUES (&#39;senderLocalOnlyUser&#39;,0);
</code></pre>
<ol>
<li>Configure o usuário como membro do grupo <em><em>senderLocalOnlyUser</em></em></li>
</ol>
<pre><code class="lang-sql">INSERT INTO policy_group_members(PolicyGroupID,Member,Disabled) VALUES (6,&#39;f13@labz.localhost.local&#39;,0);
</code></pre>
<ol>
<li>Configure a diretiva para permitir somente o envio local para o grupo <em><em>senderLocalOnlyUser</em></em></li>
</ol>
<pre><code class="lang-sql">INSERT INTO &quot;access_control&quot; (ID, PolicyID, Name, Verdict, Data, Comment, Disabled)  VALUES (1,8,&#39;sender local only&#39;, &#39;REJECT&#39;, &#39;Access Denied&#39;, &#39;Somente envio local&#39;, 0);
</code></pre>
<ol>
<li>Script</li>
</ol>
<pre><code class="lang-sql">BEGIN TRANSACTION;
INSERT INTO policies(Name,Priority,Disabled) VALUES (&#39;Somente envio local&#39;,0,0);
INSERT INTO &quot;policy_members&quot; (PolicyID,Source,Destination) VALUES(8, &#39;%senderLocalOnlyUser&#39;, &#39;!%limitToLocalDomainRecipient&#39;);
INSERT INTO policy_groups(Name,Disabled) VALUES (&#39;senderLocalOnlyUser&#39;,0);
INSERT INTO policy_group_members(PolicyGroupID,Member,Disabled) VALUES (6,&#39;f13@labz.localhost.local&#39;,0);
INSERT INTO &quot;access_control&quot; (ID, PolicyID, Name, Verdict, Data, Comment, Disabled)  VALUES (1,8,&#39;sender local only&#39;, &#39;REJECT&#39;, &#39;Access Denied&#39;, &#39;Somente envio local&#39;, 0);
COMMIT;
</code></pre>
<h2 id="laborat-rio-restri-o-para-recebimento-de-email-para-um-dom-nio-local">Laboratório: Restrição para recebimento de email para um domínio local</h2>
<ol>
<li>Configure o domínio local como membro da política &quot;Somente envio local&quot;</li>
</ol>
<pre><code class="lang-sql">INSERT INTO &quot;policy_members&quot; (PolicyID,Source,Destination) VALUES(9, &#39;!@labz.localhost.local&#39;, &#39;@labz.localhost.local&#39;);
</code></pre>
<ol>
<li>Script</li>
</ol>
<pre><code class="lang-sql">BEGIN TRANSACTION;
INSERT INTO &quot;policy_members&quot; (PolicyID,Source,Destination) VALUES(8, &#39;!@labz.localhost.local&#39;, &#39;@labz.localhost.local&#39;);
COMMIT;
</code></pre>
    </md-tab>
</md-tab-group>