 <md-tab-group>

    <md-tab>
      <template md-tab-label>
          Diagrama
      </template>
        <img src="app/view/diagrama/CBpolicyD.png" style="height:900px">
    </md-tab>

    <md-tab>
      <template md-tab-label>
          Zimbra
      </template>

<h1 id="zimbra-cbpolicyd">Zimbra CBPolicyd</h1>
<pre><code class="lang-bash">zmprov ms `zmhostname` zimbraCBPolicydAccountingEnabled TRUE zimbraCBPolicydQuotasEnabled TRUE zimbraCBPolicydAccessControlEnabled TRUE
</code></pre>
<h2 id="quotas-cbpolicyd-ordem-de-configura-o">Quotas CBPolicyd - Ordem de configuração</h2>
<p>Primeiramente, são necessários dois passos:</p>
<pre><code>1. Cria a politica na tabela *policies*
2. Configure os membros da diretiva recém-criada na tabela policy_members

a) Se não usarmos os *grupos*, então após configurar a politica e os membros de politica, configuramos as diretivas
b) Se você configurar os *grupos*, então após configurar as politicas, nós configuramos os *grupos* e então as diretivas
</code></pre><blockquote>
<p>Prioridade 0, significa que será escolhido primeiro a partir da lista das políticas.</p>
</blockquote>
<h2 id="laborat-rio-a-cada-5-minutos-o-usu-rio-pode-enviar-10-mensagens">Laboratório: A cada 5 minutos o usuário pode enviar 10 mensagens</h2>
<ul>
<li>Crie o grupo que receberá a diretiva</li>
</ul>
<pre><code class="lang-sql">INSERT
    INTO
        policy_groups(Name,Disabled)
    VALUES 
        (&#39;limitToSender&#39;,0);
</code></pre>
<ul>
<li>Configure o usuário <em>foo@bar</em> como membro do grupo <em><em>limitToSender</em></em></li>
</ul>
<pre><code class="lang-sql">INSERT
    INTO
        policy_group_members(PolicyGroupID,Member,Disabled)
    VALUES
        (6,&#39;foo@bar&#39;,0);
</code></pre>
<ul>
<li>Crie a política <em>&quot;Limit Sender&quot;</em></li>
</ul>
<pre><code class="lang-sql">INSERT
    INTO
        policies(Name,Priority,Disabled)
    VALUES
        (&#39;Limit Sender&#39;,0,0);
</code></pre>
<ul>
<li>Configure o grupo <em><em>limitToSender</em></em> como membro da política <em><em>Limit Sender</em></em></li>
</ul>
<pre><code class="lang-sql">INSERT
    INTO
        policy_members(PolicyID,Source,Destination,Disabled)
    VALUES
        (6,&#39;%limitToSender&#39;,&#39;any&#39;,0);
</code></pre>
<ul>
<li>Crie a cota para a política <em><em>Limit Sender</em></em></li>
</ul>
<p>A configuração abaixo adiará por 5 minutos o envio da mensagem que excedeu o limite da cota.</p>
<pre><code class="lang-sql">INSERT
    INTO
        quotas(PolicyID,Name,Track,Period,Verdict,Data,Disabled)
    VALUES
        (6,&#39;Limit Sender Quota&#39;,&#39;Sender:user@domain&#39;,300,&#39;DEFER&#39;,&#39;User has been deferred for five minutes&#39;,0);
</code></pre>
<ul>
<li>Configure o tipo de restrição para a cota <em><em>Limit Sender</em></em></li>
</ul>
<p>Limita o envio de 10 mensagens por 5 minutos.</p>
<pre><code class="lang-sql">INSERT
    INTO
        quotas_limits(QuotasID,Type,CounterLimit,Disabled)
    VALUES
        (6,&#39;MessageCount&#39;,10,0);
</code></pre>
<ul>
<li>Script SQL</li>
</ul>
<pre><code class="lang-sql">BEGIN TRANSACTION
INSERT INTO policy_groups(Name,Disabled) VALUES (&#39;limitToSender&#39;,0);
INSERT INTO policy_group_members(PolicyGroupID,Member,Disabled) VALUES (3,&#39;foo@bar&#39;,0);
INSERT INTO policies(Name,Priority,Disabled) VALUES (&#39;Limit Sender&#39;,0,0);
INSERT INTO policy_members(PolicyID,Source,Destination,Disabled) VALUES (6,&#39;%limitToSender&#39;,&#39;any&#39;,0);
INSERT INTO quotas(PolicyID,Name,Track,Period,Verdict,Data,Disabled) VALUES (6,&#39;Limit Sender Quota&#39;,&#39;Sender:user@domain&#39;,300,&#39;DEFER&#39;,&#39;User has been deferred for five minutes&#39;,0);
INSERT INTO quotas_limits(QuotasID,Type,CounterLimit,Disabled) VALUES (3,&#39;MessageCount&#39;,10,0);
COMMIT;
</code></pre>
<h2 id="laborat-rio-a-cada-5-minutos-a-conta-foo-bar-pode-receber-10-mensagens-de-dom-nios-externos">Laboratório: A cada 5 minutos a conta foo@bar pode receber 10 mensagens de domínios externos</h2>
<ul>
<li>Crie uma coleção para os usuários locais</li>
</ul>
<pre><code class="lang-sql">INSERT
    INTO
        policy_groups(Name,Disabled)
    VALUES
        (&#39;limitToUserRecipient&#39;,0);
</code></pre>
<ul>
<li>Crie uma coleção para os domínios locais</li>
</ul>
<pre><code class="lang-sql">INSERT
    INTO
        policy_groups(Name,Disabled)
    VALUES
        (&#39;limitToLocalDomainRecipient&#39;,0);
</code></pre>
<ul>
<li>Configure o usuário <em>foo@bar</em> como membro do grupo <em><em>limitToUserRecipient</em></em></li>
</ul>
<pre><code class="lang-sql">INSERT
    INTO
        policy_group_members(PolicyGroupID,Member,Disabled)
    VALUES
        (7,&#39;foo@bar&#39;,0);
</code></pre>
<ul>
<li>Configure o domínio <em>@bar</em> como membro do grupo <em><em>limitToLocalDomainRecipient</em></em></li>
</ul>
<pre><code class="lang-sql">INSERT
    INTO
        policy_group_members(PolicyGroupID,Member,Disabled)
    VALUES
        (7,&#39;@bar&#39;,0);
</code></pre>
<ul>
<li>Crie a política <em>&quot;Limit Recipient&quot;</em></li>
</ul>
<pre><code class="lang-sql">INSERT
    INTO
        policies(Name,Priority,Disabled)
    VALUES
        (&#39;Limit Recipient&#39;,0,0);
</code></pre>
<ul>
<li>Configure os grupos <em><em>limitToUserRecipient</em></em> e <em><em>limitToLocalDomainRecipient</em></em> como membro da política <em><em>Limit Recipient</em></em></li>
</ul>
<pre><code class="lang-sql">INSERT
    INTO
        policy_members(PolicyID,Source,Destination,Disabled)
    VALUES
        (7,&#39;%limitToRecipient&#39;,&#39;!%limitToLocalDomainRecipient&#39;,0);
</code></pre>
<blockquote>
<p>Nota: O simbolo exclamativo possui o mesmo valor lógico da negação, pois, estamos negando a política para a coleção %limitToLocalDomainRecipient.</p>
</blockquote>
<ul>
<li>Crie a cota para a política <em><em>Limit Recipient</em></em></li>
</ul>
<p>A configuração abaixo adiará por 5 minutos o recebimento da mensagem que excedeu o limite da cota.</p>
<pre><code class="lang-sql">INSERT
    INTO
        quotas(PolicyID,Name,Track,Period,Verdict,Data,Disabled)
    VALUES
        (7,&#39;Limit Recipient Quota&#39;,&#39;Recipient:user@domain&#39;,300,&#39;DEFER&#39;,&#39;User has been deferred for five minutes&#39;,0);
</code></pre>
<ul>
<li>Configure o tipo de restrição para a cota <em><em>Limit Recipient</em></em></li>
</ul>
<p>Limita o envio de 10 mensagens por 5 minutos.</p>
<pre><code class="lang-sql">INSERT
    INTO
        quotas_limits(QuotasID,Type,CounterLimit,Disabled)
    VALUES
        (7,&#39;MessageCount&#39;,10,0);
</code></pre>
<ul>
<li>Script SQL</li>
</ul>
<pre><code class="lang-sql">BEGIN TRANSACTION
INSERT INTO policy_groups(Name,Disabled) VALUES (&#39;limitToUserRecipient&#39;,0);
INSERT INTO policy_groups(Name,Disabled) VALUES (&#39;limitToLocalDomainRecipient&#39;,0);
INSERT INTO policy_group_members(PolicyGroupID,Member,Disabled) VALUES (4,&#39;f13@labz.localhost.local&#39;,0);
INSERT INTO policy_group_members(PolicyGroupID,Member,Disabled) VALUES (5,&#39;@labz.localhost.local&#39;,0);
INSERT INTO policies(Name,Priority,Disabled) VALUES (&#39;Limit Recipient&#39;,0,0);
INSERT INTO policy_members(PolicyID,Source,Destination,Disabled) VALUES (7,&#39;%limitToRecipient&#39;,&#39;!%limitToLocalDomainRecipient&#39;,0);
INSERT INTO quotas(PolicyID,Name,Track,Period,Verdict,Data,Disabled) VALUES (7,&#39;Limit Recipient Quota&#39;,&#39;Recipient:user@domain&#39;,300,&#39;DEFER&#39;,&#39;User has been deferred for five minutes&#39;,0);
INSERT INTO quotas_limits(QuotasID,Type,CounterLimit,Disabled) VALUES (4,&#39;MessageCount&#39;,10,0);
COMMIT;
</code></pre>
<h2 id="laborat-rio-rejeita-o-envio-da-conta-_foo-bar_-para-qualquer-dom-nio-externo">Laboratório: Rejeita o envio da conta <em><em>foo@bar</em></em> para qualquer domínio externo</h2>
<ul>
<li>Crie a política <em>&quot;Somente envio local&quot;</em></li>
</ul>
<pre><code class="lang-sql">INSERT
    INTO
        policies(Name,Priority,Disabled)
    VALUES
        (&#39;Somente envio local&#39;,0,0);
</code></pre>
<ul>
<li>Configure os grupos <em><em>senderLocalOnlyUser</em></em> e <em><em>limitToLocalDomainRecipient</em></em> como membros da política <em>&quot;Somente envio local&quot;</em></li>
</ul>
<pre><code class="lang-sql">INSERT
    INTO
        policy_members(PolicyID,Source,Destination)
    VALUES
        (8, &#39;%senderLocalOnlyUser&#39;, &#39;!%limitToLocalDomainRecipient&#39;);
</code></pre>
<ul>
<li>Crie uma coleção de usuários para receber a diretiva</li>
</ul>
<pre><code class="lang-sql">INSERT
    INTO
        policy_groups (Name,Disabled)
    VALUES
        (&#39;senderLocalOnlyUser&#39;,0);
</code></pre>
<ul>
<li>Configure o usuário como membro do grupo <em><em>senderLocalOnlyUser</em></em></li>
</ul>
<pre><code class="lang-sql">INSERT
    INTO
        policy_group_members (PolicyGroupID,Member,Disabled)
    VALUES
        (6,&#39;f13@labz.localhost.local&#39;,0);
</code></pre>
<ul>
<li>Configure a diretiva para permitir somente o envio local para o grupo <em><em>senderLocalOnlyUser</em></em></li>
</ul>
<pre><code class="lang-sql">INSERT
    INTO
        access_control (ID, PolicyID, Name, Verdict, Data, Comment, Disabled)
    VALUES 
        (1,8,&#39;sender local only&#39;, &#39;REJECT&#39;, &#39;Access Denied&#39;, &#39;Somente envio local&#39;, 0);
</code></pre>
<ul>
<li>Script</li>
</ul>
<pre><code class="lang-sql">BEGIN TRANSACTION;
INSERT INTO policies(Name,Priority,Disabled) VALUES (&#39;Somente envio local&#39;,0,0);
INSERT INTO &quot;policy_members&quot; (PolicyID,Source,Destination) VALUES(8, &#39;%senderLocalOnlyUser&#39;, &#39;!%limitToLocalDomainRecipient&#39;);
INSERT INTO policy_groups(Name,Disabled) VALUES (&#39;senderLocalOnlyUser&#39;,0);
INSERT INTO policy_group_members(PolicyGroupID,Member,Disabled) VALUES (6,&#39;f13@labz.localhost.local&#39;,0);
INSERT INTO &quot;access_control&quot; (ID, PolicyID, Name, Verdict, Data, Comment, Disabled)  VALUES (1,8,&#39;sender local only&#39;, &#39;REJECT&#39;, &#39;Access Denied&#39;, &#39;Somente envio local&#39;, 0);
COMMIT;
</code></pre>
<h2 id="laborat-rio-restri-o-para-recebimento-de-email-para-um-dom-nio-local">Laboratório: Restrição para recebimento de email para um domínio local</h2>
<p>Nesse caso a política já existe, hipoteticamente, então relaciono à mesma um novo membro.</p>
<ul>
<li>Configure o domínio local como membro da política &quot;Somente envio local&quot;</li>
</ul>
<pre><code class="lang-sql">INSERT
    INTO
        policy_members (PolicyID,Source,Destination)
    VALUES
        (8, &#39;!@labz.localhost.local&#39;, &#39;@labz.localhost.local&#39;);
</code></pre>
<ul>
<li>Script</li>
</ul>
<pre><code class="lang-sql">BEGIN TRANSACTION;
INSERT INTO &quot;policy_members&quot; (PolicyID,Source,Destination) VALUES(8, &#39;!@labz.localhost.local&#39;, &#39;@labz.localhost.local&#39;);
COMMIT;
</code></pre>
<h2 id="laborat-rio-cada-conta-est-limitada-para-enviar-duas-mensagens-por-hora-">Laboratório: Cada conta está limitada para enviar duas mensagens por hora.</h2>
<ul>
<li>Crie a política <em>GMAIL Outbound Policy</em></li>
</ul>
<pre><code class="lang-sql">INSERT
    INTO
        policies (Name,Priority,Disabled)
    VALUES
        (&#39;GMAIL Outbound Policy&#39;,0,0);
</code></pre>
<ul>
<li>Configure o membro da política <em>GMAIL Outbound Policy</em></li>
</ul>
<pre><code class="lang-sql">INSERT
    INTO
        policy_members (PolicyID,Source,Destination)
    VALUES
        (10, &#39;@labz.localhost.local&#39;, &#39;@gmail.com&#39;);
</code></pre>
<ul>
<li>Configure o limite na coluna <em>MessageCountLimit</em> para a política <em>GMAIL Outbound Policy</em></li>
</ul>
<pre><code class="lang-sql">INSERT 
    INTO
        accounting (ID,PolicyID,Name,Track,AccountingPeriod,MessageCountLimit,Verdict,Data,LastAccounting,Comment,Disabled)
    VALUES
        (1,10,&#39;GMAIL 2 mensagens por hora&#39;, &#39;Sender:user@domain&#39;, 0, 3,&#39;REJECT&#39;,&#39;Limite de envio para o gmail foi excedido&#39;,0,&#39;teste&#39;,0);
</code></pre>
<ul>
<li>Script</li>
</ul>
<pre><code class="lang-sql">BEGIN TRANSACTION;
INSERT INTO  policies (Name,Priority,Disabled) VALUES (&#39;GMAIL Outbound Policy&#39;,0,0);
INSERT INTO  policy_members (PolicyID,Source,Destination) VALUES (10, &#39;@labz.localhost.local&#39;, &#39;@gmail.com&#39;);
INSERT INTO  accounting (ID,PolicyID,Name,Track,AccountingPeriod,MessageCountLimit,Verdict,Data,LastAccounting,Comment,Disabled) VALUES (1,10,&#39;GMAIL 2 mensagens por hora&#39;, &#39;Sender:user@domain&#39;, 0, 3,&#39;REJECT&#39;,&#39;Limite de envio para o gmail foi excedido&#39;,0,&#39;teste&#39;,0);
</code></pre>
<blockquote>
<p>Nota: É possível fazer o bloqueio pelo o total de bytes por hora, semana e mês</p>
</blockquote>
<h2 id="descri-o-das-colunas-de-cada-m-dulo">Descrição das colunas de cada Módulo</h2>
<p>Coluna: <em>Verdict</em></p>
<ul>
<li>HOLD: Quarentena</li>
<li>REJECT: Rejeita a mensagem</li>
<li>DISCARD:</li>
<li>FILTER:</li>
<li>REDIRECT: Redireciona a mensagem para outro endereço de e-mail</li>
<li>DEFER:</li>
<li>OK:</li>
</ul>
<p>Coluna: <em>Data</em></p>
<p>Mensagem de retorno para o emissor</p>
<p>Coluna: <em>Source</em></p>
<ul>
<li>NULL = any</li>
<li>a.b.c.d/e = IP address with optional /e</li>
<li>@domain = domain specification,</li>
<li>%xyz = xyz group,</li>
<li>abc@domain = abc user specification</li>
</ul>
<p>Coluna:<em>Destination</em></p>
<ul>
<li>NULL = any</li>
<li>a.b.c.d/e = IP address with optional /e</li>
<li>@domain = domain specification,</li>
<li>%xyz = xyz group,</li>
<li>abc@domain = abc user specification</li>
</ul>
<p>Coluna: <em>Member</em></p>
<ul>
<li>@domain</li>
<li>user@domain</li>
<li>a.b.c.d/e</li>
<li>$sasl_username</li>
</ul>
<p>Coluna: <em>Disabled</em></p>
<ul>
<li>0: No</li>
<li>1: Yes</li>
</ul>
<p>Tabela: Accounting</p>
<p>Coluna: AccountingPeriod</p>
<ul>
<li>0: Dia</li>
<li>1: Semana</li>
<li>2: Mês</li>
</ul>


    </md-tab>
</md-tab-group>